html[data-theme='gray-scale'] {
  --theme-common-background: #f5f5f5;
  --theme-common-foreground: #1c1c1c;
  --theme-common-box-shadow: rgba(0, 0, 0, 0.15);
  --theme-common-accent-1: #333333;
  --theme-common-accent-2: #333333;
  --theme-common-accent-3: #333333;
  --theme-common-accent-4: #333333;
  --theme-common-accent-5: #333333;
  --theme-common-weak0-foreground: #111111;
  --theme-common-weak1-foreground: #333333;
  --theme-common-weak2-foreground: #666666;
  --theme-common-weak3-foreground: #eeeeee;
  --theme-heading-foreground: #222222;
  --theme-link-foreground: #555555;
  --theme-navbar-background: #e0e0e0f8;
  --theme-navbar-foreground: #1c1c1c;
  --theme-navbar-box-shadow: rgba(0, 0, 0, 0.15);
}