div.selector {
	margin: 3rem;
	display: flex;
	width: calc(100% - 6rem);
	position: relative;

	>div.indicator {
		height: 100%;
		position: absolute;
		z-index: 0;
		transition: all 0.3s ease-in-out;
	}

	>button {
		z-index: 1;
		flex: 1;
		padding: 1rem;
		border: none;
		font-size: 1rem;
		transition: all 0.3s ease;
		cursor: pointer;
		background: none;
		color: var(--theme-common-foreground);
	}

	>button.active {
		color: var(--theme-common-background);
	}
}