div.selector {
	margin: 3rem;
	display: flex;
	flex-wrap: wrap;
	flex-flow: row wrap;
	width: calc(100% - 6rem);
	position: relative;

	div.indicator {
		position: absolute;
		height: 100%;
		z-index: -1;
		transition: all 0.3s ease-in-out;
		top: 0;
		left: 0;
		background: var(--selection-indicator-background);
		width: 100%;
	}

	>button {
		z-index: 1;
		flex: 1;
		padding: 1rem;
		border: none;
		font-size: 1rem;
		transition: all 0.3s ease;
		cursor: pointer;
		background: none;
		color: var(--theme-common-foreground);
		min-width: max-content;
	}

	>button.active {
		color: var(--theme-common-background);
	}
}