html[data-theme='dark'] {
	--theme-common-background: #282828;
	--theme-common-foreground: #e0e0e0;
	--theme-common-box-shadow: rgba(0, 0, 0, 0.5);
	--theme-common-accent-1: #8ab4f8;
	--theme-common-accent-2: #f2994a;
	--theme-common-accent-3: #f28b82;
	--theme-common-accent-4: #81c995;
	--theme-common-accent-5: #bb86fc;
	--theme-common-weak0-foreground: #b4b4b4;
	--theme-common-weak1-foreground: #a8a8a8;
	--theme-common-weak2-foreground: #a8a8a8;
	--theme-common-weak3-foreground: #090909;
	--theme-heading-foreground: #8ab4f8;
	--theme-heading-foreground: #e8eaed;
	--theme-link-foreground: #82b2ff;
	--theme-navbar-background: #282828d0;
	--theme-navbar-foreground: #e0e0e0;
	--theme-navbar-box-shadow: rgba(0, 0, 0, 0.7);
}