:root {
  scrollbar-gutter: stable;
  background-color: var(--theme-common-background);
  color: var(--theme-common-foreground);
  transition: all 0.3s ease;
}

:root,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), var(--font-noto-sans-jp), sans-serif;
}

h2 {
  color: var(--theme-heading-foreground);
}