body.body {

	>main {
		margin: 3rem;
		min-height: calc(100vh - 6rem);

		>header {
			max-height: 100vh;
			height: 400px;
			position: relative;
		}

		h1 {
			font-size: 36pt;
			margin-bottom: 1rem;
			color: var(--color-accent-blue-dark);
		}

		h2 {
			font-size: 28pt;
			color: var(--color-accent-red-dark);
		}

		h3 {
			font-size: 22pt;
		}

		p,
		li {
			font-size: 13pt;
			line-height: 1.6;
		}

		a {
			text-decoration: none;
			color: inherit;
		}

		a:hover {
			text-decoration: underline;
			color: var(--color-accent-blue-dark);
		}

		figure {
			margin: 2rem 0;
			width: calc(100% - 4rem);
			max-width: 1000px;
			justify-self: center;
			background: #fff;
			border: 1px solid #ccc;
			padding: 1rem;

			>div {
				display: grid;
				grid-template-columns: 1fr 2fr;

				>img {
					width: 100%;
					height: auto;
					object-fit: contain;
				}
			}

			blockquote {
				margin-top: 1rem;
				padding-left: 1rem;
				border-left: 4px solid #ccc;
				color: #333;
				position: relative;

				>cite {
					display: block;
					font-size: 0.9rem;
					color: #444;
					margin-top: 0.5rem;
					text-align: right;
					position: absolute;
					right: 1rem;
					bottom: 1rem;
				}
			}
		}
	}

	>footer {
		position: relative;
		font-size: 1.2rem;
		padding: 3rem;
		background-image: repeating-linear-gradient(-45deg,
				#f7f7f7,
				#f7f7f7 5px,
				transparent 5px,
				transparent 10px);

		>h2 {
			font-size: 28pt;
		}

		>div.footerBackground {
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-image: repeating-linear-gradient(45deg,
					#f7f7f7,
					#f7f7f7 5px,
					transparent 5px,
					transparent 10px);
			z-index: -1;
		}

		>div.footerLinks {
			display: flex;
			gap: 2rem;

			>div {
				flex: 1;

				>ul {
					list-style: none;

					>li>a {
						color: #333;
						text-decoration: none;
					}
				}
			}
		}
	}

}

@media (max-width: 768px) {
	body.body {
		>main {
			margin: 1.5rem;

			h2 {
				font-size: 24pt;
			}

			h3 {
				font-size: 20pt;
			}

			p,
			li {
				font-size: 12pt;
			}

			figure {
				>div {
					grid-template-columns: 1fr;

					>img {
						margin-bottom: 1rem;
					}
				}
			}
		}

		>footer {
			padding: 1.5rem;

			>h2 {
				font-size: 22pt;
			}

			>div.footerLinks {
				flex-direction: column;

				>div {
					>ul {
						>li>a {
							font-size: 14pt;
						}
					}
				}
			}
		}
	}
}