div.title {
    position: absolute;
    margin: auto;
    inset: 0;
    height: max-content;

	>h1 {
		display: inline-block;
		color: var(--theme-heading-foreground) !important;
		font-size: 70pt;
		margin: 0;
	}

}

@media (max-width: 768px) {
	div.title {
		>h1 {
			font-size: 40pt;
		}
	}
}