div.title {
	position: absolute;
	margin: auto;
	inset: 0;
	line-height: 1;

	>h1 {
		display: inline-block;
		color: var(--theme-heading-foreground) !important;
		font-size: 70pt;
	}

}

@media (max-width: 768px) {
	div.title {
		>h1 {
			font-size: 40pt;
		}
	}
}