div.container {
	>div.newsContainer {
		flex: 4;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		border-top: 1px solid #ccc;

		>div.newsItem {
			border-bottom: 1px solid #ccc;
			padding-bottom: 1rem;
		}
	}
}