nav.header {
	position: sticky;
	top: 0;
	background-color: var(--theme-navbar-background);
	padding: 0 0 0 4rem;
	box-shadow: 0 2px 4px var(--theme-navbar-box-shadow);
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--theme-navbar-foreground);

	>div.title {
		flex: 1;
		font-size: 1.1rem;
	}

	>div.links {
		flex: 1.5;
		display: flex;
		justify-content: center;
		height: 5rem;

		>a {
			text-align: center;
			text-decoration: none;
			flex: 1;
			font-weight: 500;
			font-size: .9rem;
			line-height: 5rem;
			color: var(--theme-navbar-foreground);
		}

		>a[aria-current='page'] {
			color: var(--theme-common-background);
		}

		button.themeToggleButton {
			background: none;
			border: none;
			cursor: pointer;
			line-height: 5rem;
			padding: 0 2rem;
			color: var(--theme-navbar-foreground);

			svg {
				transform: translate(0, 25%);
			}
		}

		div.themeSelector {
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 3rem;
			right: 0;
			margin: 1rem;
			width: 14rem;
			background: var(--theme-common-background);
			color: var(--theme-common-foreground);
			box-shadow: 4px 4px 22px var(--theme-common-box-shadow);
			border-radius: 8px;
			overflow: hidden;
			opacity: 0;
			pointer-events: none;
			transition: all 0.3s;

			>button {
				background: none;
				border: none;
				cursor: pointer;
				padding: 0.5rem 1rem;
				text-align: left;
				width: 100%;
				position: relative;
				color: var(--theme-common-foreground);

				&:hover {
					background: var(--theme-common-weak3-foreground);
				}

				>span {
					display: inline-block;
					position: absolute;
					margin: auto;
					inset: 0;
					height: max-content;
					width: max-content;
					font-size: 1.1rem;
				}
			}

			>button.active {
				background: var(--theme-common-foreground);
				color: var(--theme-common-background);
			}
		}

		div.themeSelector.active {
			opacity: 1;
			pointer-events: auto;
		}
	}

	>div.hamburger {
		display: none;
	}
}

@media (max-width: 768px) {
	nav.header {
		display: block;
		padding: 1rem 0;

		>div.title {
			display: block;
			font-size: 1.1rem;
			text-align: center;
		}

		>div.links {
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transition: all 0.75s;
			transform: translateY(-100%);
			opacity: 0;
			height: 100vh;
			background: var(--theme-navbar-background);

			>a {
				display: block;
				padding: 1rem 0;
			}

			button.themeToggleButton {
				width: 100%;
				background: var(--theme-common-weak0-foreground);
				color: var(--theme-common-background);
			}

			div.themeSelector {
				display: flex;
				position: absolute;
				top: auto;
				bottom: 4rem;
				right: 0;
				margin: 1rem;
				border-radius: 8px;
				overflow: hidden;
				opacity: 0;
				pointer-events: none;
				transition: all 0.3s;
			}

			div.themeSelector.active {
				opacity: 1;
				pointer-events: auto;
			}
		}

		>div.links.active {
			transform: translateY(3.6rem);
			opacity: 1;
		}

		>div.hamburger {
			display: block;
			position: absolute;
			cursor: pointer;
			top: 0;
			bottom: 0;
			right: 1rem;
			margin: auto;
			width: 25px;
			height: fit-content;

			>div {
				display: block;
				height: 3px;
				background-color: var(--theme-navbar-foreground);
				margin: 4px 0;
				border-radius: 2px;
				z-index: 1100;
			}

			>div.line1 {
				transition: all 0.3s;
				transform: rotate(0) translate(0, 0);
			}

			>div.line2 {
				transition: all 0.3s;
				opacity: 1;
			}

			>div.line3 {
				transition: all 0.3s;
				transform: rotate(0) translate(0, 0);
			}
		}

		>div.hamburger.active {
			>div.line1 {
				transform: rotate(45deg) translate(5px, 5px);
			}

			>div.line2 {
				opacity: 0;
			}

			>div.line3 {
				transform: rotate(-45deg) translate(5px, -5px);
			}
		}
	}
}