nav.header {
	position: sticky;
	top: 0;
	background-color: #ffffff;
	padding: 0 4rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;

	>div.title {
		flex: 1;
		font-size: 1.1rem;
	}

	>div.links {
		flex: 1.5;
		display: flex;
		justify-content: center;
		margin: 0 -2rem;
		height: 5rem;

		>a {
			text-align: center;
			text-decoration: none;
			flex: 1;
			color: #333333;
			font-weight: 500;
			font-size: .9rem;
			line-height: 5rem;
		}
	}

	>div.hamburger {
		display: none;
	}
}

@media (max-width: 768px) {
	nav.header {
		display: block;
		padding: 1rem 0;

		>div.title {
			display: block;
			font-size: 1.1rem;
			text-align: center;
		}

		>div.links {
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #ffffff;
			transition: all 0.75s;
			transform: translateY(-100%);
			opacity: 0;
			height: 100vh;
			background: #fff;

			>a {
				display: block;
				padding: 1rem 0;
			}

			>a::before {
				content: "";
				display: absolute;
				top: 0;
				left: 0;
				width: 0%;
				height: 2px;
				background-color: #ffffff;
				transition: width 0.3s;
			}

			>a:hover::before {
				width: 100%;
			}
		}

		>div.links.active {
			transform: translateY(3.1rem);
			opacity: 1;
		}

		>div.hamburger {
			display: block;
			position: absolute;
			cursor: pointer;
			top: 0;
			bottom: 0;
			right: 1rem;
			margin: auto;
			width: 25px;
			height: fit-content;

			>div {
				display: block;
				height: 3px;
				background-color: #333333;
				margin: 4px 0;
				border-radius: 2px;
				z-index: 1100;
			}

			>div.line1 {
				transition: all 0.3s;
				transform: rotate(0) translate(0, 0);
			}

			>div.line2 {
				transition: all 0.3s;
				opacity: 1;
			}

			>div.line3 {
				transition: all 0.3s;
				transform: rotate(0) translate(0, 0);
			}
		}

		>div.hamburger.active {
			>div.line1 {
				transform: rotate(45deg) translate(5px, 5px);
			}

			>div.line2 {
				opacity: 0;
			}

			>div.line3 {
				transform: rotate(-45deg) translate(5px, -5px);
			}
		}
	}
}