.container {
	background: black;
	color: white;
	inset: 0;
	top: 6.1rem;
	position: absolute;
	width: 80vw;
	height: 60vw;
	max-width: 800px;
	max-height: 600px;
	margin: auto;
	font-family: var(--font-rpg);

	>div.textbox {
		position: absolute;
		bottom: 20px;
		left: 20px;
		right: 20px;
		padding: 10px;
		height: 10rem;
		border: 2px solid white;
		font-size: 1.2rem;
	}
}

@media (max-width: 600px) {
	.container {
		width: initial;
		height: initial;
		top: initial;
		inset: 30px;
	}
}